colossalai
mmengine
pandas
timm
rotary_embedding_torch
ftfy
diffusers
accelerate
av
numpy

# [gradio]
gradio
spaces

# [notebook]
ipykernel
ipywidgets

# [training]
wandb
tensorboard
pandarallel
pyarrow

# [dev]
pre-commit
openai
